{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "dist/**",
    "node_modules/**",
    "src/assets/**"
  ],
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ],
  "rules": {
    "import/no-default-export": 1,
    "@typescript-eslint/no-empty-interface": 0,
    "object-curly-spacing": ["error", "always"]
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "16.9"
    }
  }
}
