{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["src/generated/**", "dist/**", "node_modules/**"],
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ]
}
